body {
    font-family: 'Nunito', sans-serif; /* Cozy font style */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #000; /* Dark background */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body fills at least the viewport height */
    position: relative;
    overflow: hidden;
}

header {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    z-index: 2;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    color: rgba(255, 255, 255, 255); /* Light color for stars */
    text-shadow: 
        0 0 10px #f0f;    
}

main {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    flex: 1; /* Make main content grow and fill the available space */
}

#about {
    flex: 1;
    background-color: #f4f4f4;
    padding: 40px;
    border-radius: 10px;
    margin-right: 20px;
    height: 100%;
}

#tiles {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

#projects {
    flex: 1;
    background-color: #f4f4f4;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
}

#bottom-tiles {
    display: flex;
    flex: 1;
    gap: 20px;
}

.tile {
    transition: transform 0.3s, background-color 0.3s;
}

.tile-small {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
}

.tile:hover, .tile-small:hover {
    transform: translateY(-10px);
    background-color: #e4e4e4;
}

.tile a, .tile-small a {
    text-decoration: none;
    color: #333;
}

.tile h2, .tile-small h2 {
    margin: 0;
    font-size: 1.8rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Push footer to the bottom of the page */
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

#contact {
    max-width: 800px;
    margin: 0 auto 20px;
    padding: 0 20px;
    text-align: left;
}

#contact h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#contact form {
    display: grid;
    grid-gap: 10px;
}

#contact label {
    font-weight: bold;
}

#contact input, #contact textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact .btn:hover {
    background-color: #555;
}

.social {
    margin-top: 20px;
    text-align: center;
}

.social a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.constant {
    position: absolute;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5); /* Light color for stars */
    font-weight: bold;
    pointer-events: none;
    user-select: none;
    transform-origin: -50% -50%; /* Adjust origin for rotation */
    animation: moveAlongPath infinite linear;
    z-index: -1;
}

@keyframes moveAlongPath {
    0% {
        transform: rotate(0deg) translateX(15vw);
    }
    100% {
        transform: rotate(360deg) translateX(15vw);
    }
}

/* Static stars */
.star {
    position: absolute;
    color: rgba(255, 255, 255, 0.7); /* Light color for stars */
    font-weight: bold;
    pointer-events: none;
    user-select: none;
}

main {
    position: relative;
}
